<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.farm.mapper.FarmMemberMapper">
<!-- 로그인 -->
	<select id="loginMember" parameterType="map" resultType="com.sp.app.farm.model.Farm">
		SELECT farmNum, farmName, businessNumber, farmManager, farmTel, farmZip, farmAddress1, 
			farmAddress2, farmRegDate, farmerName, farmerTel, farmerId, farmerPwd, status, farmAccount
		FROM farm
		WHERE farmerId = #{farmerId} AND farmerPwd = #{farmerPwd} AND status = 3
	</select>
	
<!-- 회원추가 -->
	<insert id="insertFarm" parameterType="com.sp.app.farm.model.Farm">
		INSERT INTO farm(farmNum, farmName, businessNumber, farmManager, farmTel, farmZip, farmAddress1, 
			farmAddress2, farmRegDate, farmerName, farmerTel, farmerId, farmerPwd, status, farmAccount)
		VALUES (farm_seq.NEXTVAL, #{farmName}, #{businessNumber}, #{farmManager}, #{farmTel}, #{farmZip}, #{farmAddress1},
			#{farmAddress2}, SYSDATE, #{farmerName}, #{farmerTel}, #{farmerId}, #{farmerPwd}, 0, #{farmAccount})
	</insert>
	
<!-- 정보수정, 비밀번호 재설정 -->
	<update id="updateFarm" parameterType="com.sp.app.farm.model.Farm">
		UPDATE farm SET farmManager = #{farmManager}, farmTel = #{farmTel},
			farmZip = #{farmZip}, farmAddress1 = #{farmAddress1}, farmAddress2 = #{farmAddress2},
			farmerTel = #{farmerTel}, farmerPwd = #{farmerPwd}, farmAccount = #{farmAccount}
		WHERE farmerId = #{farmerId}
	</update>
	
	<update id="updateFarmName" parameterType="map">
		UPDATE farm SET farmName = #{farmName}
		WHERE farmNum = #{farmNum}
	</update>
	
	<update id="updateFarmerName" parameterType="map">
		UPDATE farm SET farmerName = #{farmerName}
		WHERE farmNum = #{farmNum}
	</update>
	
	<update id="updateStatus" parameterType="com.sp.app.farm.model.Farm">
		UPDATE farm SET status = #{status}
		WHERE farmNum = #{farmNum}
	</update>
	
	<update id="updatePassword" parameterType="com.sp.app.farm.model.Farm">
		UPDATE farm SET farmerPwd = #{farmerPwd}
		WHERE farmNum = #{farmNum}
	</update>

<!-- 삭제 -->	
	<delete id="deleteFarm" parameterType="map">
		DELETE FROM farm
		WHERE farmNum = #{farmNum}
	</delete>

<!-- 데이터 찾기 -->
	<!-- 농장번호로 정보찾기 -->
	<select id="findByFarmNum" parameterType="Long" resultType="com.sp.app.farm.model.Farm">
		SELECT farmNum, farmName, businessNumber, farmManager, farmTel, farmZip, farmAddress1, 
			farmAddress2, farmRegDate, farmerName, farmerTel, farmerId, farmerPwd, status, farmAccount
		FROM farm
		WHERE farmNum = #{farmNum}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findFarmerId" parameterType="map" resultType="com.sp.app.farm.model.Farm">
		SELECT farmNum, farmerId, status, farmName
		FROM farm
		WHERE businessNumber = #{businessNumber} AND farmerName = #{farmerName} AND farmerTel = #{farmerTel}
	</select>
	
	<!-- 아이디로 정보찾기 -->
	<select id="findByFarmerId" parameterType="String" resultType="com.sp.app.farm.model.Farm">
		SELECT farmNum, farmName, businessNumber, farmManager, farmTel, farmZip, farmAddress1, 
			farmAddress2, farmRegDate, farmerName, farmerTel, farmerId, farmerPwd, status, farmAccount
		FROM farm
		WHERE farmerId = #{farmerId}
	</select>
	<select id="findByBusinessNumber" parameterType="String" resultType="com.sp.app.farm.model.Farm">
		SELECT farmNum, farmName, businessNumber, farmManager, farmTel, farmZip, farmAddress1, 
			farmAddress2, farmRegDate, farmerName, farmerTel, farmerId, farmerPwd, status, farmAccount
		FROM farm
		WHERE REPLACE(businessNumber,'-','') = REPLACE(#{businessNumber},'-','')
	</select>
	
	<!-- 사업장번호 등록여부 확인-->
	<select id="existsBusinessNumber" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM farm		
		WHERE REPLACE(businessNumber,'-','') = REPLACE(#{businessNumber},'-','')
	</select>
	
<!-- 농가 리스트 -->
	<!-- 공통 WHERE 블록 -->
	<sql id="farmWhere">
	  <where>
	  
	    <!-- 상태: 사용할 때만 -->
	    <if test="useStatus">
	      AND status = #{status}
	    </if>
	
	    <!-- 등록일: 사용할 때만 (from~to 포함) -->
	    <if test="useRegDate and fromDate != null and fromDate != '' and toDate != null and toDate != ''">
	      AND farmRegDate &gt;= TO_DATE(#{fromDate}, 'YYYY-MM-DD')
	      AND farmRegDate &lt; TO_DATE(#{toDate},   'YYYY-MM-DD') + 1
	    </if>
	
	    <if test="kwd != null and kwd != ''">
	      <choose>
	        <when test="schType == 'farmerId'">
	          AND farmerId LIKE '%' || #{kwd} || '%'
	        </when>
	        <when test="schType == 'farmName'">
	          AND farmName LIKE '%' || #{kwd} || '%'
	        </when>
	        <when test="schType == 'businessNumber'">
	          AND REPLACE(businessNumber,'-','') LIKE '%' || REPLACE(#{kwd},'-','') || '%'
	        </when>
	        <when test="schType == 'farmerName'">
	          AND farmerName LIKE '%' || #{kwd} || '%'
	        </when>
	        <when test="schType == 'farmerTel'">
	          AND REPLACE(farmerTel,'-','') LIKE '%' || REPLACE(#{kwd},'-','') || '%'
	        </when>
	        <otherwise>
	          AND (
	               farmName LIKE '%' || #{kwd} || '%'
	            OR farmerId LIKE '%' || #{kwd} || '%'
	            OR REPLACE(businessNumber,'-','') LIKE '%' || REPLACE(#{kwd},'-','') || '%'
	            OR farmAccount LIKE '%' || #{kwd} || '%'
	          )
	        </otherwise>
	      </choose>
	    </if>
	  </where>
	</sql>
	
	<select id="listFarm" parameterType="map" resultType="com.sp.app.farm.model.Farm">
		SELECT farmNum, farmName, businessNumber, farmManager, farmTel, farmZip, farmAddress1, 
			farmAddress2, farmRegDate, farmerName, farmerTel, farmerId, farmerPwd, status, farmAccount
		FROM farm
		<include refid="farmWhere"/>
		ORDER BY farmRegDate DESC, farmName ASC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
	<!-- 데이터 수 -->
	<select id="farmCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM farm
		<include refid="farmWhere"/>
	</select>

</mapper>