<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.MemberMapper">
	<select id="loginMember" parameterType="map" resultType="com.sp.app.model.Member">
		SELECT m1.memberId, m1.loginId, password, snsProvider, snsId, 
			name, email, userLevel, 
			createdAt, updateAt, lastLogin, enabled, failureCnt,
			m2.profilePhoto, m2.receiveEmail
		FROM member1 m1
		LEFT OUTER JOIN member2 m2 ON m1.memberId = m2.memberId 
		WHERE m1.loginId = #{loginId} AND m1.password = #{password} AND m1.enabled != 0
	</select>

	<select id="loginSnsMember" parameterType="map" resultType="com.sp.app.model.Member">
		SELECT m1.memberId, m1.loginId, password, snsProvider, snsId, 
			name, email, userLevel, 
			createdAt, lastLogin, enabled
		FROM member1 m1
		LEFT OUTER JOIN member2 m2 ON m1.memberId = m2.memberId 
	</select>

	<select id="findById" parameterType="Long" resultType="com.sp.app.model.Member">
		SELECT m1.memberId, m1.loginId, password, snsProvider, snsId,
			userLevel, enabled, createdAt, updateAt, lastLogin,
			name, TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, 
			profilePhoto, zip, addr1, addr2, receiveEmail
		FROM member1 m1
		LEFT OUTER JOIN member2 m2 ON m1.memberId = m2.memberId
		WHERE m1.memberId = #{memberId}
	</select>

</mapper>