<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.UserNoticeMapper">
	<sql id="where-list">
		<if test="schType=='all' ">
			<![CDATA[
				(
					INSTR(subject, #{kwd}) > 0
					OR DBMS_LOB.INSTR(REGEXP_REPLACE(content, '<[^>]+>', ''), #{kwd}) > 0
				)
			]]>
		</if>
		<if test="schType=='subject' ">
			INSTR(subject, #{kwd}) &gt; 0
		</if>
		<if test="schType=='content' ">
			<![CDATA[
				DBMS_LOB.INSTR(REGEXP_REPLACE(content, '<[^>]+>', ''), #{kwd}) > 0
			]]>
		</if>
		<if test="schType=='regDate' ">
			( INSTR(TO_CHAR(regDate, 'YYYYMMDD'), #{kwd}) &gt; 0
				OR TO_CHAR(regDate, 'YYYY-MM-DD') = #{kwd} )
		</if>
	</sql>
	
	<!-- 공지글 리스트 -->
	<select id="listNoticeTop" resultType="com.sp.app.model.Notice">
		SELECT n.noticeNum, notice, subject, hitCount, 
				TO_CHAR(regDate, 'YYYY-MM-DD') regDate,
				TO_CHAR(n.updateDate, 'YYYY-MM-DD') updateDate,
				NVL(fileCount, 0) fileCount
		FROM notice n
		LEFT OUTER JOIN (
			SELECT noticeNum, COUNT(*) fileCount
			FROM notiFile
			GROUP BY noticeNum
		) f ON n.noticeNum = f.noticeNum
		WHERE notice = 1 AND showNotice = 1 AND categoryNum = 1
		ORDER BY updateDate DESC
	</select>
	
	<!-- 데이터개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notice n
		JOIN member2 m ON n.memberId = m.memberId
		<where>
			showNotice = 1 AND categoryNum = 1
			<if test="kwd != null and kwd != ''  ">
				AND <include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 리스트 -->
	<select id="listNotice" parameterType="map" resultType="com.sp.app.model.Notice">
		SELECT n.noticeNum, notice, subject, hitCount, 
			   regDate, n.updateDate, NVL(fileCount, 0) fileCount
		FROM notice n
		LEFT OUTER JOIN (
			SELECT noticeNum, COUNT(*) fileCount
			FROM notiFile
			GROUP BY noticeNum
		) f ON n.noticeNum = f.noticeNum
		<where>
			showNotice = 1 AND categoryNum = 1
			<if test="kwd != null and kwd != ''">
				AND <include refid="where-list"/>
			</if>
		</where>
		ORDER BY updateDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

    <!-- 글보기 -->
    <select id="findById" parameterType="Long" resultType="com.sp.app.model.Notice">
		SELECT noticeNum, subject, content, 
			TO_CHAR(regDate, 'YYYY-MM-DD HH24:MI:SS') reg_date, 
			TO_CHAR(n.updateDate, 'YYYY-MM-DD HH24:MI:SS') updateDate, 
			hitCount, notice, showNotice
		FROM notice n
		WHERE noticeNum = #{noticeNum} AND showNotice = 1
	</select>

	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Long">
		UPDATE notice SET hitCount = hitCount + 1
		WHERE noticeNum = #{noticeNum}
	</update>

	<!-- 이전글 -->
	<select id="findByPrev" parameterType="map" resultType="com.sp.app.model.Notice">
		SELECT noticeNum, subject
		FROM notice n
		<where>
			showNotice = 1 AND categoryNum = 1
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (updateDate &gt; TO_DATE(#{updateDate}, 'YYYY-MM-DD HH24:MI:SS'))
		</where>
		ORDER BY updateDate ASC
		FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 다음글 -->
    <select id="findByNext" parameterType="map" resultType="com.sp.app.model.Notice">
		SELECT noticeNum, subject
		FROM notice n
		<where>
			showNotice = 1 AND categoryNum = 1
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (updateDate &lt; TO_DATE(#{updateDate}, 'YYYY-MM-DD HH24:MI:SS'))
		</where>
		ORDER BY updateDate DESC
		FETCH FIRST 1 ROWS ONLY
    </select>
    
	<select id="listNoticeFile" parameterType="Long" resultType="com.sp.app.model.Notice">
		SELECT fileNum, noticeNum, saveFilename, originalFilename, fileSize
		FROM notiFile
		WHERE noticeNum = #{noticeNum} 
	</select>
	
	<select id="findByFileId" parameterType="Long" resultType="com.sp.app.model.Notice">
		SELECT fileNum, noticeNum, saveFilename, originalFilename, fileSize
		FROM notiFile
	    WHERE fileNum = #{fileNum}      
	</select>
</mapper>
