<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.PackageMapper">
	
	<select id="findByMaxsubNumber" parameterType="String" resultType="String">
		SELECT subNum
  		FROM subStatus
 		WHERE subNum LIKE #{prefix} || '%'
  		ORDER BY subNum DESC
  		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="findByPackage" parameterType="Long" resultType="com.sp.app.model.PackageOrder">
		SELECT price,content FROM package WHERE packageNum = #{packageNum}
	</select>
	
	<insert id="insertsubStatus" parameterType="com.sp.app.model.PackageOrder">
		INSERT INTO subStatus(subNum,subMonth,payDate,payMethod,totalPay,memberId)
		VALUES(#{subNum},#{subMonth},TO_DATE(#{payDate,jdbcType=VARCHAR}, 'YYYY-MM-DD'),#{payMethod,jdbcType=VARCHAR},#{totalPay},#{memberId})
	</insert>
	
	<insert id="insertsubItem" parameterType="com.sp.app.model.PackageOrder">
			INSERT INTO subItem (itemNum, itemPrice, count, subNum, productNum)
		    VALUES (
		        subItem_seq.NEXTVAL,
		        #{itemPrice},
		        #{count},
		        #{subNum},
		        #{productNum}
		    )
	</insert>
	
	<insert id="insertsubPackage" parameterType="com.sp.app.model.PackageOrder">
	INSERT INTO subPackage(subPackageNum,subNum,homePackageNum,packagePrice,saladPackageNum)
	VALUES(
		subPackage_seq.NEXTVAL,#{subNum},#{homePackageNum, jdbcType=BIGINT},#{packagePrice},#{saladPackageNum,jdbcType=BIGINT}
	)
	
	</insert>
	
	<insert id="insertsubDestination" parameterType="com.sp.app.model.PackageOrder">
	INSERT INTO subDestination(desNum,memberId,receiver,tel,zip,addr)
	VALUES(
		subDestination_seq.NEXTVAL,#{memberId},#{receiver},#{tel},#{zip},#{addr}
	)
	</insert>
	
	<update id="updateProductStockDec" parameterType="com.sp.app.model.PackageOrder">
		UPDATE productDetail SET stockQuantity = stockQuantity - #{qty}
		WHERE productNum = #{productNum}
	</update>
	
	
</mapper>