<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.PackageMapper">
	
	<select id="findByMaxsubNumber" resultType="String">
		SELECT subNum
		FROM subStatus
		ORDER BY payDate DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="findByPackage" parameterType="Long" resultType="com.sp.app.model.PackageOrder">
		SELECT price,content FROM package WHERE packageNum = #{packageNum}
	</select>
	
	<insert id="insertsubStatus" parameterType="com.sp.app.model.PackageOrder">
		INSERT INTO subStatus(subNum,subMonth,payDate,payMethod,totalPay,memberId)
		VALUES(subStatus_seq.NEXTVAL,#{subMonth},TO_DATE(#{payDate,jdbcType=VARCHAR}, 'YYYY-MM-DD'),#{payMethod},#{totalPay},#{memberId})
	</insert>
	
	<insert id="insertsubItem" parameterType="com.sp.app.model.PackageOrder">
		<foreach collection="productNums" item="item" index="idx" separator=",">
			INSERT INTO subItem (itemNum, itemPrice, count, subNum, productNum)
		    VALUES (
		        subItem_seq.NEXTVAL,
		        #{item.itemPrice},
		        #{item.count},
		        #{subNum},
		        #{item.productNum}
		    )
		</foreach>  
	</insert>
	
	<insert id="insertsubPackage" parameterType="com.sp.app.model.PackageOrder">
	INSERT INTO subPackage(subPackageNum,subNum,homePackageNum,packagePrice,saladPackageNum)
	VALUES(
		subPackage_seq.NEXTVAL,#{subNum},#{homePackageNum},#{packagePrice},#{saladPackagNum}
	)
	
	</insert>
	
	<insert id="insertsubDestination" parameterType="com.sp.app.model.PackageOrder">
	INSERT INTO subDestination(desNum,memberId,receiver,tel,zip,addr)
	VALUES(
		subDestination_seq.NEXTVAL,#{memberId},#{receiver},#{tel},#{zip},#{addr}
	)
	</insert>
	
	<update id="updateProductStockDec" parameterType="com.sp.app.model.PackageOrder">
		UPDATE productDetail SET stockQuantity = stockQuantity - #{qty}
		WHERE productNum = #{productNum}
	</update>
	
	
</mapper>