<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.PackageMapper">
	
	<select id="findByMaxsubNumber" parameterType="String" resultType="String">
		SELECT subNum
  		FROM subStatus
 		WHERE subNum LIKE #{prefix} || '%'
  		ORDER BY subNum DESC
  		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="findByPackage" parameterType="Long" resultType="com.sp.app.model.PackageOrder">
		SELECT price,content FROM package WHERE packageNum = #{packageNum}
	</select>
	
	<insert id="insertsubStatus" parameterType="com.sp.app.model.PackageOrder">
		INSERT INTO subStatus(subNum,subMonth,payDate,payMethod,totalPay,memberId,isExtend)
		VALUES(#{subNum},#{subMonth},TO_DATE(#{payDate,jdbcType=VARCHAR}, 'YYYY-MM-DD'),#{payMethod,jdbcType=VARCHAR},#{totalPay},#{memberId},#{isExtend})
	</insert>
	
	<insert id="insertsubItem" parameterType="com.sp.app.model.PackageOrder">
			INSERT INTO subItem (itemNum, itemPrice, "COUNT", subNum, productNum)
		    VALUES (
		        subItem_seq.NEXTVAL,
		        #{itemPrice},
		        #{count},
		        #{subNum},
		        #{productNum}
		    )
	</insert>
	
	<insert id="insertsubPackage" parameterType="com.sp.app.model.PackageOrder">
	INSERT INTO subPackage(subPackageNum,subNum,homePackageNum,packagePrice,saladPackageNum)
	VALUES(
		subPackage_seq.NEXTVAL,#{subNum},#{homePackageNum, jdbcType=BIGINT},#{packagePrice},#{saladPackageNum,jdbcType=BIGINT}
	)
	
	</insert>
	
	<insert id="insertsubDestination" parameterType="com.sp.app.model.PackageOrder">
	INSERT INTO subDestination(desNum,memberId,receiver,tel,zip,addr)
	VALUES(
		subDestination_seq.NEXTVAL,#{memberId},#{receiver},#{tel},#{zip},#{addr}
	)
	</insert>
	
	<update id="updateProductStockDec" parameterType="com.sp.app.model.PackageOrder">
		UPDATE productDetail SET stockQuantity = stockQuantity - #{qty}
		WHERE productNum = #{productNum}
	</update>
	
	
	<select id="findByPayData" resultType="com.sp.app.model.PackageOrder">
		SELECT
	      subNum,subMonth,totalPay,memberId,payMethod,isExtend
  		FROM subStatus
  		WHERE isExtend IN (1, 4)
    		AND TO_CHAR(payDate, 'DD') = TO_CHAR(SYSDATE, 'DD')                
   			AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'YYYYMM'); 
	</select>

	<select id="subPackageinfo" parameterType="String" resultType="com.sp.app.model.PackageOrder">
		SELECT
			subPackageNum,homePackageNum,packagePrice,saladPackageNum
		FROM subPackage
		WHERE subNum = #{subNum}
	</select>

	<select id="subItemList" parameterType="String" resultType="com.sp.app.model.PackageOrder">
		SELECT
			productNum, itemPrice, count
		FROM subItem
		WHERE subNum = #{subNum}
	</select>

	<select id="findBysubData" parameterType="Long"  resultType="com.sp.app.model.PackageOrder">
		SELECT
	      ss.subNum, sp.homePackageNum, sp.saladPackageNum
  		FROM subStatus ss
		LEFT OUTER JOIN subPackage sp ON ss.subNum = sp.subNum
  		WHERE	TO_CHAR(payDate, 'DD') = TO_CHAR(SYSDATE, 'DD')                
   				AND (
          			TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'YYYYMM')
      			 	OR TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(SYSDATE, -2), 'YYYYMM')
        		)
				AND memberId = #{memberId}
	</select>

	<select id="mysubinfo" parameterType = "Long" resultType = "com.sp.app.model.PackageOrder">
		SELECT
			subNum,subMonth,totalPay,payMethod,isExtend,TO_CHAR(payDate, 'YYYY-MM-DD') AS payDate
		FROM subStatus
		WHERE memberId = #{memberId}
		ORDER BY payDate DESC
	</select>
	
	<update id="quitSubscribe" parameterType="String">
		UPDATE subStatus SET isExtend=2 WHERE subNum = #{subNum}
	</update>
	
	<delete id="deletesubDes" parameterType="String">
		DELETE FROM subDes WHERE subNum=#{subNum}
	</delete>

</mapper>