<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.ProductReviewMapper">
	<insert id="insertReview" parameterType="com.sp.app.model.ProductReview">
	    INSERT INTO ProductReview (ORDERDETAILNUM, REVIEW, STAR, REVIEWDATE,  PRODUCTNUM, REVIEWBLOCK, REVIEWTITLE) 
	    	VALUES (#{orderDetailNum}, #{review}, #{star}, SYSDATE, #{productNum}, 0, #{reviewTitle})
	</insert>
	
	<update id="updateReview" parameterType="com.sp.app.model.ProductReview">
		UPDATE ProductReview 
		<set> 
			<if test="reviewTitle != null">
	            REVIEWTITLE = #{reviewTitle},
	        </if>
	        <if test="review != null">
	            REVIEW = #{review},
	        </if>
	        <if test="star != null"> 
	        	STAR = #{star},
	        </if>
	        REVIEWDATE = SYSDATE, 
	        <if test="reviewBlock != null">
	            REVIEWBLOCK = #{reviewBlock}
	        </if>
    	</set>
		WHERE ORDERDETAILNUM = #{orderDetailNum}
	</update>
	
	<delete id="deleteReview" parameterType="long">
		DELETE FROM ProductReview
		WHERE ORDERDETAILNUM = #{orderDetailNum}
	</delete>
	
	<delete id="deleteReviewImage" parameterType="long">
        DELETE FROM reviewPhoto
        WHERE ORDERDETAILNUM = #{orderDetailNum}
    </delete>
	
	<select id="getReviewList" resultType="com.sp.app.model.ProductReview" parameterType="map">
		SELECT pr.orderDetailNum, review, star, reviewDate, reviewBlock, pr.productNum, reviewTitle, po.orderDate,
			productName, p.mainImageFilename, po.memberId reviewerMemberId, name reviewerName, profilePhoto reviewerProfilePhoto,
			pd.unit, COUNT(prl.orderDetailNum) helpfulCount
		FROM ProductReview pr
		JOIN orderDetail od ON pr.orderDetailNum = od.orderDetailNum
		JOIN productOrder po ON po.orderNum = od.orderNum
		LEFT OUTER JOIN product p ON pr.productNum = p.productNum
		LEFT OUTER JOIN productDetail pd ON pd.productNum = p.productNum
		LEFT OUTER JOIN member2 m2 ON po.memberId = m2.memberId
		LEFT OUTER JOIN productReviewLike prl ON pr.orderDetailNum = prl.orderDetailNum
		<where>
			<if test="reviewBlock != null">
				AND reviewBlock = #{reviewBlock}
			</if>
		</where>
		GROUP BY
    		pr.orderDetailNum, review, star, reviewDate, reviewBlock, pr.productNum, reviewTitle, 
    		po.orderDate, productName, p.mainImageFilename, po.memberId, name, profilePhoto, pd.unit
		ORDER BY reviewDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="getReviewListByProductNum" resultType="com.sp.app.model.ProductReview" parameterType="map">
		SELECT pr.orderDetailNum, review, star, reviewDate, reviewBlock, pr.productNum, reviewTitle, po.orderDate,
			productName, p.mainImageFilename, po.memberId reviewerMemberId, name reviewerName, profilePhoto reviewerProfilePhoto, pd.unit, 
			(
				SELECT COUNT(*)
	     		FROM productReviewLike prl
	     		WHERE prl.orderDetailNum = pr.orderDetailNum
	     	) AS helpfulCount,
    		(
    			SELECT COUNT(*)
	     		FROM productReviewLike prl
	     		WHERE prl.orderDetailNum = pr.orderDetailNum AND prl.memberId = #{memberId, jdbcType=VARCHAR}
	     	) AS userLike
		FROM ProductReview pr
		JOIN orderDetail od ON pr.orderDetailNum = od.orderDetailNum
		JOIN productOrder po ON po.orderNum = od.orderNum
		LEFT OUTER JOIN product p ON pr.productNum = p.productNum
		LEFT OUTER JOIN productDetail pd ON pd.productNum = p.productNum
		LEFT OUTER JOIN member2 m2 ON po.memberId = m2.memberId
		WHERE reviewBlock = 0 AND pr.productNum = #{productNum}
		ORDER BY reviewDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="getMyReviewList" resultType="com.sp.app.model.ProductReview" parameterType="map">
		SELECT pr.orderDetailNum, review, star, reviewDate, reviewBlock, pr.productNum, reviewTitle, po.orderDate,
			productName, p.mainImageFilename, po.memberId reviewerMemberId, name reviewerName, profilePhoto reviewerProfilePhoto, pd.unit, po.orderDate,
			(
				SELECT COUNT(*)
	     		FROM productReviewLike prl
	     		WHERE prl.orderDetailNum = pr.orderDetailNum
	     	) AS helpfulCount
		FROM ProductReview pr
		JOIN orderDetail od ON pr.orderDetailNum = od.orderDetailNum
		JOIN productOrder po ON po.orderNum = od.orderNum
		LEFT OUTER JOIN product p ON pr.productNum = p.productNum
		LEFT OUTER JOIN productDetail pd ON pd.productNum = p.productNum
		LEFT OUTER JOIN member2 m2 ON po.memberId = m2.memberId
		WHERE reviewBlock = 0 AND po.memberId = #{memberId}
		ORDER BY reviewDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="findByOrderDetailNum" resultType="com.sp.app.model.ProductReview" parameterType="long">
		SELECT pr.orderDetailNum, review, star, reviewDate, reviewBlock, pr.productNum, reviewTitle, po.orderDate,
			productName, p.mainImageFilename, po.memberId reviewerMemberId, name reviewerName, profilePhoto reviewerProfilePhoto, pd.unit, 
			(
				SELECT COUNT(*)
	     		FROM productReviewLike prl
	     		WHERE prl.orderDetailNum = pr.orderDetailNum
	     	) AS helpfulCount
		FROM ProductReview pr
		JOIN orderDetail od ON pr.orderDetailNum = od.orderDetailNum
		JOIN productOrder po ON po.orderNum = od.orderNum
		LEFT OUTER JOIN product p ON pr.productNum = p.productNum
		LEFT OUTER JOIN productDetail pd ON pd.productNum = p.productNum
		LEFT OUTER JOIN member2 m2 ON po.memberId = m2.memberId
		WHERE pr.orderDetailNum = #{orderDetailNum}
	</select>
	
	<select id="getDataCount" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM ProductReview
	<where>
	    <if test="productNum != null">
	        AND productNum = #{productNum}
	    </if>
	    <if test="reviewBlock != null">
	        AND reviewBlock = #{reviewBlock}
	    </if>
	    </where> 
	</select>

	<select id="getMyReviewDataCount" parameterType="long" resultType="int">
		SELECT COUNT(*)
		FROM ProductReview pr
		JOIN orderDetail od ON pr.orderDetailNum = od.orderDetailNum
		JOIN productOrder po ON po.orderNum = od.orderNum
		WHERE po.memberId = #{memberId} AND reviewBlock = 0
	</select>
	
	<insert id="insertReviewLike" parameterType="map">
		INSERT INTO productReviewLike(memberId, orderDetailNum)
			VALUES (#{memberId}, #{orderDetailNum})
	</insert>

	<insert id="insertReviewImage" parameterType="com.sp.app.model.ProductReview">
        INSERT INTO reviewPhoto (productReviewImageNum, productReviewImageFilename, orderDetailNum)
	        VALUES (reviewPhoto_seq.nextVAL, #{productReviewImageFilename}, #{orderDetailNum})
    </insert>

	<select id="getReviewLikeCount" resultType="int" parameterType="long">
    	SELECT COUNT(*) helpfulCount
		FROM productReviewLike
		WHERE orderDetailNum = #{orderDetailNum}
	</select>
	    
	<delete id="deleteReviewLike" parameterType="map">
		DELETE FROM productReviewLike
		WHERE memberId = #{memberId} 
		<if test="orderDetailNum != null">
			AND orderDetailNum = #{orderDetailNum}		
		</if>
	</delete>
	
</mapper>