<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sp.app.mapper.UserInquiryMapper">
	<insert id="insertInquiry" parameterType="com.sp.app.model.Inquiry">
	    INSERT INTO inquiry(inquiryNum, subject, content, regDate, processResult, memberId, farmNum)
	    VALUES (inquiry_seq.NEXTVAL, #{subject}, #{content}, SYSDATE, 
	        0, #{memberId}, #{farmNum, jdbcType=NUMERIC})
	</insert>

	<sql id="where-list">
		<if test="kwd != null and kwd.trim() != ''">
			<choose>
				<when test="schType == 'all' ">
				   ( INSTR(subject, #{kwd}) &gt; 0
			          OR INSTR(content, #{kwd}) &gt; 0
			          OR INSTR(answer, #{kwd}) &gt; 0 )
				</when>
				<when test="schType == 'regDate' ">
				   ( INSTR(TO_CHAR(regDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR TO_CHAR(regDate, 'YYYY-MM-DD') = #{kwd} )
				</when>
				<when test="schType == 'subject' ">
				   ( INSTR(subject, #{kwd}) &gt; 0)
				</when>
				<when test="schType == 'content' ">
				   ( INSTR(content, #{kwd}) &gt; 0)
				</when>
			</choose>	
		</if>	
	</sql>

	<!-- 글개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM inquiry
		<where>
			memberId = #{memberId}
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
		</where>
	</select>

	<!-- 글리스트 -->
    <select id="listInquiry" parameterType="map" resultType="com.sp.app.model.Inquiry">
		SELECT inquiryNum, subject, content, processResult,
			   TO_CHAR(regDate, 'YYYY-MM-DD') regDate, TO_CHAR(answerDate, 'YYYY-MM-DD') answerDate
		FROM inquiry
		<where>
			memberId = #{memberId}
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
		</where>   
		ORDER BY inquiryNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
    
	<!-- 글보기 -->
	<select id="findById" resultType="com.sp.app.model.Inquiry" parameterType="Long">
	    SELECT inquiryNum, subject, content, processResult, TO_CHAR(regDate, 'YYYY-MM-DD') regDate,
	        answerId, answer, TO_CHAR(answerDate, 'YYYY-MM-DD') answerDate
	    FROM inquiry
	    WHERE inquiryNum = #{inquiryNum}
	</select>

	<!-- 이전글 -->
	<select id="findByPrev" parameterType="map" resultType="com.sp.app.model.Inquiry">
		SELECT inquiryNum, subject
		FROM inquiry
		<where>
			memberId = #{memberId}
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (inquiryNum &gt; #{inquiryNum})
		</where>
		ORDER BY inquiryNum ASC
		FETCH FIRST 1 ROWS ONLY
	</select>

	<!-- 다음글 -->
	<select id="findByNext" parameterType="map" resultType="com.sp.app.model.Inquiry">
		SELECT inquiryNum, subject
		FROM inquiry
		<where>
			memberId = #{memberId}
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list"/>
			</if>
			AND (inquiryNum &lt; #{inquiryNum})
		</where>
		ORDER BY inquiryNum DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 수정 -->
	<update id="updateInquiry" parameterType="com.sp.app.model.Inquiry">
	    UPDATE inquiry SET subject = #{subject}, content = #{content}
	    WHERE inquiryNum = #{inquiryNum} AND processResult = 0
	</update>

	<!-- 삭제 -->
	<delete id="deleteInquiry" parameterType="Long">
		DELETE FROM inquiry
		WHERE inquiryNum = #{inquiryNum}
	</delete>
</mapper>