<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.WishMapper">
	<insert id="insertWish" parameterType="map">
		INSERT INTO wish(memberId, productNum, wishDate)
		VALUES (#{memberId}, #{productNum}, SYSDATE)
	</insert>

	<select id="getWishList" resultType="com.sp.app.model.Wish" parameterType="Long">
    	SELECT w.memberId, w.productNum, wishDate,
    		p.productName, pd.unitPrice, pd.discountRate, p.deliveryFee, p.mainImageFilename
    	FROM wish w
    	JOIN product p ON w.productNum = p.productNum
    	JOIN productDetail pd ON w.productNum = pd.productNum
		WHERE w.memberId = #{memberId}
		ORDER BY wishDate DESC
	</select>

	<select id="findByWishId" resultType="com.sp.app.model.Wish" parameterType="map">
    	SELECT memberId, productNum, wishDate
    	FROM wish
		WHERE memberId = #{memberId} AND  productNum = #{productNum}
		ORDER BY wishDate DESC
	</select>
	    
	<delete id="deleteWish" parameterType="map">
		DELETE FROM wish
		WHERE memberId = #{memberId} 
		<if test="productNum != null">
			AND productNum = #{productNum}		
		</if>
	</delete>

</mapper>